# configure which files should be ignored by eslint
# changes made here should probably be duplicated in .prettier-ignore
/build/**
/coverage/**
/dist/**
/node_modules/**
/lib-cov/**
/.nyc_output/**
/bower_components/**

